.app-header {
    height: 70px;
    background-color: #8cbcff0f;
    box-shadow: 0 0 12px #607d8b70;
    margin-bottom: 0.5em;

    width: 100vw;
    height: 80px;
    section.container {
        display: flex;
        align-items: center;
        height: 100%;

        .logo {
            flex-grow: 1;
            color: #4d97ff;
            font-size: 1.7em;
            cursor: pointer;
            position: relative;
        }

        .logo::after {
            // display: block;
            position: absolute;
            margin-left: 5px;
            content: "Recipe Gen";
            font-size: 0.9em;
            // font-family: "Prompt", sans-serif;
            font-family: "Righteous", cursive;
            // font-family: "Satisfy", cursive;

            // width: 100px;
            // height: 100px;
        }

        .user {
            flex-grow: 1;
        }
    }
}
