.ing-preview {
    display: flex;
    align-items: center;

    // margin-top: 10px;
    font-size: 1.5em;
    width: 100%;
    line-height: 1.3em;
    padding: 22px 10px;
    background-color: #03a9f40f;


    position: relative;
    > *:not(.remove-btn, :last-child) {
        flex-grow: 2;
        width: 10%;
        @include for-mobile-layout {
            width: 50%;
        }
    }

   
    .editable {
        padding: 5px;
        @include trim;
    }

    .remove-btn {
        width: 2em;
        height: 2em;
        border: none;
        border-radius: 100%;
        margin-right: 5%;
        background-color: #fcaea387;

        @include for-mobile-layout {
            width: 2.5em;
        }
    }

    .amount-unit {
        display: flex;
        align-items: center;
        gap: 5px;

        select {
            border: none;
            border-bottom: 1px solid black;
            font-size: 0.8em;
        }
    }

    
    p {
        flex-grow: 0.5 !important;
        text-align: center;
        width: 10%;
        min-width: 100px;
        margin-left: 10px;
        padding: 5px 10px;
        background-color: #efefef;
        cursor: pointer;
        @include trim;

        @include for-mobile-layout {
            min-width: 70px;
        }

        &.chosen {
            background-color: #e1fae0;
        }
    }

   


    @include for-tablet-layout {
        font-size: 1.3em;
    }

    @include for-mobile-layout {
        font-size: 1.1em;
    }
}

.equal {
    animation: fade-up 0.5s forwards;
}

.smaller {
    
    animation: move-up 0.5s forwards;
}
