.ing-preview {
    display: flex;
    align-items: center;

    font-size: 1.5em;
    width: 100%;
    line-height: 1.3em;
    padding: 22px 10px;
    box-shadow: 0px 1px 7px #00000024;
    border-radius: 3px;
    margin-bottom: 10px;

    position: relative;
    > *:not(.remove-icon, :last-child) {
        width: 10%;
        @include for-mobile-layout {
            // width: 50%;
        }
    }

    .ing-name {
        flex-grow: 2;
    }

    span[contentEditable] {
        padding: 0.3em;
        display: inline-block;
        outline: none;

        &:focus {
            box-shadow: 0px 0px 4px 2px #4d97ffa8;

        }

        &::selection {
            background-color: #4d97ff2a;
            font-weight: 900;
            padding: 3px;
        }

        @include for-mobile-layout {
            // padding: 0.1em;
        }
    }

    span.editable {
        @include trim;
    }

    .ing-name,
    span.editable {
        font-weight: 500;
    }

    .amount-unit {
        display: flex;
        align-items: center;
        gap: 5px;
        flex-grow: 2.5;
        margin-left: 10px;

        select {
            border: none;
            border-bottom: 1px solid black;
            font-size: 0.8em;
        }
    }

    p {
        flex-grow: 0.5 !important;
        text-align: center;
        width: 10%;
        min-width: 100px;
        margin-left: 10px;
        padding: 5px 10px;
        background-color: #efefef00;
        box-shadow: 0 0 0px 1px #00000047;
        border-radius: 2px;

        cursor: pointer;
        @include trim;

        @include for-mobile-layout {
            min-width: 70px;
        }

        &.chosen {
            background-color: #4f97fe3d;
        }
    }

    @include for-tablet-layout {
        font-size: 1.3em;
    }

    @include for-mobile-layout {
        font-size: 1em;
    }
}

.equal {
    animation: fade-up 0.5s forwards;
}

.smaller {
    animation: move-up 0.5s forwards;
}
