.login-signup {
    width: max-content;
    height: 100%;
    // border: 3px solid #4caf50;
    border: 3px solid #4d97ff;
    margin: auto;
    padding: 3%;
    margin-top: 10%;

    

    * {
        font-size: 1.2em;
        
        
        @include for-mobile-layout {
            
            font-size: 1.1em;
        }
    }

    h3 {
        color: #1778ff;
        font-weight: 700;
        margin-block: 5px 20px;
        @include for-mobile-layout {
            
            font-size: 1.3em;
        }
    }
    form {
        width: 70vw;
        max-width: 500px;
        // height: 50vw;
        font-size: 1.4em;
    
        & > section {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            input {
                width: 100%;
                border: none;
                border-bottom: #4d97ff 2px solid;
                line-height: 1.3em;
                @include for-mobile-layout {
                    
                    line-height: 1.4em;
                }
            }
        }

        .login-btn {
            background-color: #4d97ff;
            margin-top: 35px;
            color: white;
            border: none;
            padding: 0.5em 1em;
            width: 100%;
        }

        a.signin-link {
            display: inline-block;
            margin-top: 30px;
            font-size: 0.8em;
            @include for-mobile-layout {
            
                font-size: 0.9em;
            }
        }
    }
}
