.recipe-editor {

    .title-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .instructions {

        margin-top: 20%;
        textarea {
            font-size: 1.1em;
            width: 100%;
            resize: none;
        }

    }
}