.recipe-editor {
    .title-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4em;
        gap: 10px;
    }

    .title-edit {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 1em;

        .nice-form {
            margin-bottom: 0;
        }

        .dishes-form {
            font-size: 1em !important;

            .form__field {
                max-width: 190px;
            }
        }
    }

    .share-btns {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 2em;
        button.react-share__ShareButton {
            > * {
                width: 2em;
                height: 2em;
                border-radius: 50%;
            }
        }
    }

    .instructions {
        // margin-top: 20%;
        .instructions-title {
            margin-bottom: 1em;
            display: inline-block;
        }
        textarea.instructions-area {
            font-size: 1.1em;
            width: 100%;
            resize: none;
            border-radius: 3px;
        }
    }

    .edit-btn {
        display: none;
        color: white;
        font-size: 1.1em;
        font-weight: 500;
        border: none;
        border-radius: 3px;
        position: fixed;
        margin: auto;
        right: 0;
        bottom: 5%;
        left: 0;
        width: 170px;
        margin: auto;
        padding: 0.7em 1.2em;
        box-shadow: 2px 2px 3px #999;
    }

    button.save-changes {
        background-color: #0c9;
    }

    button.save-changes {
        &.animate-in {
            display: inline-block;
            animation: fade-scale-up 0.3s cubic-bezier(0.29, 0.41, 0.15, 1.24) forwards;

            // animation: fade-scale-up 0.3s ease forwards;
        }

        &.animate-out {
            display: inline-block;
            animation: fade-scale-down 0.3s ease forwards;
        }
    }

    // button.save-changes
    // button.save-changes
}
