.recipe-editor {
    .title-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4em;
        gap: 10px;
    }

    .focus-div {
        width: 0;
        height: 0;
    }

    .title-edit {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 1em;
        width: 100%;

        .inner-edit {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: space-around;
            // > *:not(:last-child) {
            //     margin-right: 30%;
            // }
        }

        .nice-form {
            margin-bottom: 0;
        }

        .dishes-form {
            font-size: 1em !important;

            .form__field {
                max-width: 190px;
            }
        }

        // @include for-mobile-layout {
        //     // width: 50%;
        // }
    }

    .share-btns {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 2em;
        button.react-share__ShareButton {
            > * {
                width: 2em;
                height: 2em;
                border-radius: 50%;
            }
        }
    }

    .input-check-container {
        display: flex;
        gap: 20px;
    }

    .instructions {
        // margin-top: 20%;
        .instructions-title {
            margin-bottom: 1em;
            display: inline-block;
        }
        textarea.instructions-area {
            font-size: 1.1em;
            width: 100%;
            resize: none;
            border-radius: 3px;
        }
    }

    .edit-btn-container {
        // display: none;
        position: fixed;
        display: flex;
        width: fit-content;
        align-items: center;
        gap: 10px;
        bottom: 5%;
        right: 0;
        left: 0;
        width: 300px;
        margin: auto;

        .edit-btn {
            color: white;
            font-size: 1.1em;
            font-weight: 500;
            flex-grow: 1;
            border: none;
            border-radius: 3px;
            padding: 0.7em 1.2em;
            box-shadow: 2px 2px 3px #999;
            max-width: 165px;
            height: 100%;
        }

        &.animate-in button.save-changes {
            display: inline-block;
            animation: fade-scale-up 0.3s cubic-bezier(0.29, 0.41, 0.15, 1.24) forwards;
        }

        &.animate-out button.save-changes {
            display: inline-block;
            animation: fade-scale-down 0.3s ease forwards;
        }

        button.save,button.cancel {
            background-color: #111111;
        }

        button.save {
            background-color: #315993;
            // outline: 5px solid #315993;
        }
        button.cancel {
            background-color: #b11a1a;
            // outline: 5px solid #b11a1a;

        }
    }

    .not-allowed {
        cursor: not-allowed !important;

        &:not(.remove-icon, .scale-amount.chosen, .add-btn) {
            color: #7b7b7b9e;
        }

        &.remove-icon {
            color: #fa86867c;
        }
    }

    [contentEditable],
    input,
    button,
    select,
    svg,
    .scale-amount {
        transition-property: color, background-color;
        transition-duration: 0.2s;
    }
}
