.container {
    max-width: $normal-breakpoint;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding: 20px;


    @include for-mobile-layout {
        max-width: initial;
        padding: 10px;
    }

    @include for-tablet-layout {
        max-width: $mobile-breakpoint;
    }

    @include for-normal-layout {
        max-width: $tablet-breakpoint;
    }

    @include for-wide-layout {
        max-width: $normal-breakpoint;
    }
}

// GRIDS
.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
}


//FORMS 
.nice-form {
    margin-bottom: 35px;
    // input {
    //     width: 23ch;
    //     border: none;

    //     border-bottom: #2a2a2a 1px solid;
    //     line-height: 1.3em;
    //     @include for-mobile-layout {
    //         line-height: 1.6em;
    //     }
    // }

    // input:focus {
    //     box-shadow: 0 2px 8px #0f6fec3b;

    //     outline: none;
    // }

    $primary: #272727;
    $secondary: #272727;
    $white: #fff;
    $gray: #9b9b9b;
    .form__group {
        position: relative;
        padding: 15px 0 0;
        margin-top: 10px;
        // width: 50%;
    }

    .form__field {
        font-family: inherit;
        width: 100%;
        max-width: 350px;
        border: 0;
        border-bottom: 2px solid $gray;
        outline: 0;
        font-size: 1.2rem;
        // color: $white;
        padding: 7px 0;
        @include for-mobile-layout {
            padding: 2px 0;
        }
        background: transparent;
        transition: border-color 0.2s;

        &::placeholder {
            color: transparent;
        }

        &:placeholder-shown ~ .form__label {
            font-size: 1.3rem;
            @include for-mobile-layout {
                font-size: 1em;
            }
            cursor: text;
            top: 20px;
        }
    }

    .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        
        color: $gray;
        @include for-mobile-layout {
            font-size: .8rem;
        }
    }

    .form__field:focus {
        ~ .form__label {
            position: absolute;
            top: -10px;
            display: block;
            transition: 0.2s;
            font-size: 0.8rem;

            
            // color: $primary;
            // font-weight: 700;
        }
        // padding-bottom: 6px;
        // font-weight: 700;
        // border-width: 3px;
        // border-image: linear-gradient(to right, $primary, $secondary);
        border-image-slice: 1;
    }
    /* reset input */
    .form__field {
        &:required,
        &:invalid {
            box-shadow: none;
        }
    }
}
